* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #f0f4f8, #dce3ea);
  font-family: "Poppins", sans-serif;
}

.profile-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 2rem;
  max-width: 700px;
  width: 90%;
  transition: transform 0.3s ease;
}

.profile-card:hover {
  transform: translateY(-5px);
}

header h2 {
  color: #333;
  font-size: 1.8rem;
}

header p {
  color: #555;
  margin-top: 0.5rem;
  font-size: 1rem;
}

.avatar-container {
  flex: 1 1 200px;
  text-align: center;
}

.avatar-container img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #0a2a4a;
  margin-top: 2rem;
}

.avatar-container figcaption {
  margin: 0.5rem 1rem 0rem 0.5rem;
  color: #555;
}

.info-section {
  flex: 2 1 300px;
}

.social-links ul {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 15px 5px;
}

.social-links a img {
  width: 25px;
  height: 25px;
  transition: transform 0.3s ease;
}

.social-links a img:hover {
  transform: scale(1.1);
}

.user-info {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.user-info section {
  flex: 1 1 150px;
  border: 1px solid #1c1515;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  margin-bottom: 2rem;
}

.user-info section h3 {
  color: #111315;
  margin-bottom: 0.5rem;
}

.user-info ul {
  list-style: none;
}
.user-info section:first-of-type {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
.user-info section:last-of-type {
  background-color: #e67272;
  padding: 15px;
  border-radius: 10px;
}
nav button {
  background-color: #1385e9;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 8px;
  border-radius: 7px;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-size: 12px;
}

.user-info li {
  border-radius: 8px;
  padding: 0.4rem 0.1rem;
}

@media (max-width: 600px) {
  .card-content {
    flex-direction: column;
    align-items: center;
  }

  .avatar-container img {
    width: 140px;
    height: 140px;
  }

  @media (max-width: 600px) {
  .user-info section {
    flex: 1 1 100%;
  }
  .user-info {
    gap: 0.5rem;
  }
}

}
